<ifmodule mod_rewrite.c>
 RewriteEngine on
 RewriteCond %{REQUEST_URI} !^/menu\.css [NC]
 RewriteCond %{REQUEST_URI} menu\.css [NC]
 RewriteRule (.*) http://gojb.ml/menu.css [R=301,L] 
</ifmodule>
ErrorDocument 404 /404/
DirectoryIndex index.shtml index.html
<filesMatch "\.(html|htm|js|css)$">
FileETag None
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
</filesMatch>
<If "%{HTTP_HOST} != 'gojb.ml'">
RewriteEngine on 
RewriteRule ^(.*)$ http://www.gojb.ml/$1 [R=301,L]
</If>