* {
	font-family: Bitter, serif;
}

html {
	height: 100%;
}

body {
	background-color: rgba(200, 200, 200, 0.2);
	margin: 0;
	height: 100%;
}

.header {
	height: 90px;
	background-color: rgba(58, 163, 158, 0.1);
	padding: 0 2%;
}

.logo {
	height: 70px;
	width: 70px;
	margin: 10px;
	float: left;
	background: url(images/rect8147.png) no-repeat;
	background-size: cover;
}

.rubrik {
	float: left;
	font-family: Audiowide, monospace;
	line-height: 90px;
	font-size: 45px;
	font-weight: bold;
	color: rgb(58, 163, 158);
	text-decoration: none;
}

.meny {
	float: right;
}

.meny a {
	text-decoration: none;
	color: black;
}

.meny a.active {
	color: rgb(58, 163, 158);
}

ul {
	margin: 35px 0;
	height: 20px;
}

li {
	display: inline;
	margin: 0 10px;
	border: 5px solid rgba(0, 0, 0, 0);
	border-radius: 10px;
	position: relative;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.0) 50%,
		rgba(0, 0, 0, 0.3) 50%);
	background-size: 100% calc(200% + 50px);
	background-position-y: calc(100% + 10px);
	transition: background-position 0.5s;
}

li:hover {
	background-position-y: -10px;
}

li>ul {
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 0;
	left: -5px;
	top: 24px;
	top: -11px;
	border-radius: 10px;
	height: 0;
	overflow: hidden;
	transition: height 200ms ease-in;
}

li:hover>ul {
	height: 100%
}

li>ul>li {
	display: inline-block;
	line-height: normal;
	margin: 0;
}

.lang {
	display: none;
	height: 100px;
	width: 100px;
	margin: auto;
}

.middle {
	width: 85%;
	margin: 20px auto;
	background-color: white;
	padding: 20px;
	border-radius: 30px;
	min-height: calc(100% - 170px);
}