* {
	font-family: Bitter, serif;
}

html {
	height: 100%;
}

body {
	background-color: rgba(200, 200, 200, 0.2);
	margin: 0;
	height: 100%;
}

.header {
	height: 90px;
	background-color: rgba(58, 163, 158, 0.1);
	padding: 0 2%;
}

.logo {
	height: 70px;
	width: 70px;
	margin: 10px;
	float: left;
	background: url(images/rect8147.png) no-repeat;
	background-size: cover;
}

.rubrik {
	float: left;
	font-family: Audiowide, monospace;
	line-height: 90px;
	font-size: 45px;
	font-weight: bold;
	color: rgb(58, 163, 158);
	text-decoration: none;
}

.meny {
	float: right;
	line-height: 90px;
}

.meny a {
	text-decoration: none;
	color: black;
}

ul {
	margin: 0;
}

li>ul {
	display: none;
	position: absolute;
}

li {
	display: inline;
	margin: 0 10px;
	border: 5px solid rgba(0,0,0,0);
	border-radius: 10px;
}

li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

li:hover>ul {
	display: block;
}

.middle {
	width: 85%;
	margin: 20px auto;
	background-color: white;
	padding: 20px;
	border-radius: 30px;
	min-height: calc(100% - 170px);
}