* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.middle {
	background-color: white;
	width: 85%;
	min-height: calc(100% - 105px);
	z-index: 1;
	border-radius: 15px;
	padding:10px 5px;
	margin: 5px auto;
}

.menu {
	margin-left: auto;
	margin-right: auto;
}

img {
	height: 60px;
	vertical-align: middle;
}

body {
	background: #eee;
	color: #444;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header {
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	display: flex;
	flex-direction: column;
	height: 70px;
}

header>div#logo {
	line-height: 70px;
	position: relative;
	margin-left: 10px;
}

header>div#logo>h1>a {
	/*  Text vid logga  */
	color: rgb(58, 163, 158);
	text-decoration: none;
	white-space: nowrap;
	font-size: 100%;
}
header>.menuDown {
	box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
}

header>.menuUp {
	box-shadow: none;
}

header>div#logo>h1 {
	color: white;
	font-weight: 300;
}

header>div#logo>div#navToggle {
	background-color: rgba(0, 0, 0, .15);
	position: absolute;
	right: 0;
	top: 0;
	transition: 300ms all ease;
	position: absolute;
	/*Menuknapp  */
}

header>div#logo>div#navToggle:hover {
	background-color: rgba(0, 0, 0, .3);

	/* Hover vid menuknapp */
}

header>div#logo>div#navToggle>a {
	color: rgba(255, 255, 255, .85);
	font-size: 0.85em;
	font-weight: 600;
	padding: 0 2.5rem;
	text-decoration: none;
	transition: 300ms all ease;
	display: block;
	/*Text menuknapp smalskärm*/
}

header>div#logo>div#navToggle:hover>a {
	color: rgba(255, 255, 255, 1);
	/*Textfär vid hover menuknapp smalskärm*/
}

header>nav {
	background-color: #a6a6a6;
	display: none;
	flex: 1;
	transform: 300ms all ease;
}

header nav>ul {
	list-style-type: none;
	text-align: center;
}

header nav>ul>li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	position: relative;
}

header nav>ul>li:last-of-type {
	border-bottom: none;
}

header nav>ul>li:first-of-type {
	border-top: 0.7px solid rgba(0, 0, 0, 0.3);
}

header nav>ul>li>a {
	font-size: 30;
	color: rgba(0, 0, 0, .65);
	font-weight: 700;
	text-decoration: none;
	transition: 500ms all ease;
	background-color: white;
	display: block;
	padding: 10 0;
}


span.toggle {
	/*Expand button*/
	background-color: rgb(255, 255, 255);
	/* 	border-radius: 3rem; */
	color: rgba(0, 0, 0, .25);
	font-size: 0.75em;
	font-weight: 500;
	text-transform: lowercase;
}

span.Plus1 {
	display: none;
}

nav li:hover>a {
	color: rgb(58, 163, 158);
	/*Hover color*/
}

header>nav>ul>li>nav>ul>li {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	z-index: 1000;
}

header>nav>ul>li>nav {
	display: none;
	color: rgba(0, 0, 0, .65);
	font-weight: 700;
	text-decoration: none;
	transition: 500ms all ease;
	background-color: white;
	/*small Dropdown menu background*/
}

header>nav>ul>li>nav>ul>li>a {
	color: rgba(0, 0, 0, .65);
	transition: 700ms all ease;
	/*Dropdown textyyu*/
}

/* Medium screens */
header.bred>div#logo>div#navToggle {
	display: none;
}

header.bred {
	background-color: white;
	flex-direction: row;
	line-height: 90px;
	padding: 0 3rem;
	text-align: left;
	width: 100%;
	height: inherit;
}

header.bred>div#logo {
	background-color: transparent;
	line-height: 90px;
}

header.bred>div#logo>h1 {
	color: rgb(58, 163, 158);
	text-decoration: none;
}

header.bred>nav {
	background-color: transparent;
	display: block;
}

header.bred>nav>ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	white-space: nowrap;
}

header.bred nav>ul>li {
	border-bottom: none;
}

header.bred nav>ul>li>a {
	padding: 0 1.25rem;
	font-size: initial;
}

header.bred nav>ul>li>a span.toggle {
	display: none;
}

header.bred nav>ul>li>a span.Plus1 { /*LodrÃ¤tt strÃ¤ck*/
	border-bottom: 0.475em solid rgba(0, 0, 0, 0.65);
	border-top: 0.475em solid rgba(0, 0, 0, 0.65);
	border-right: 0.125em solid rgba(0, 0, 0, 0.65);
	border-left: 0.125em solid rgba(0, 0, 0, 0.65);
	content: "afdsdsf";
	display: inline-block;
	margin-left: 4px;
	margin-top: -2px;
	border-radius: 10%;
	transition: 700ms all ease;
	vertical-align: middle;
	background-color: transparent;
	transform: rotate(90deg);
}

header nav>ul>li:hover a>span.Plus1 {
	transform: rotate(360deg);
	border-color: rgb(58, 163, 158);
}

header.bred>nav>ul>li:hover>nav {
	background-color: rgb(255, 255, 255);
	border-radius: .45em;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
	display: block;
	line-height: 3em;
	right: -50%;
	width: 296px;
	position: absolute;
	margin-top: -20px;
	z-index: 1000;
	border: 2px solid black;
}



a.active {
	color: rgb(58, 163, 158);
}