.snakeruta, .highscore {
	float: left;
}

script[type="text/plain"] {
	display: block;
}

.highscore {
	background-color: black;
	font-size: 20px;
}

.highscore>tr {
	background-color: white;
}

.smal .highscore {
	position: fixed;
	top: 0;
	right: 0px;
	font-size: 12px;
}

.smal canvas {
	position: fixed;
	z-index: 50;
}

@media all and (display-mode: standalone) {
	.menuKnapp {
		display: none;
	}
	.highscore {
		left: 0px;
	}
}