.snakeruta, .highscore {
	display: inline-block;
	float: left;
}

.highscore {
	background-color: black;
	padding-top: 2px;
	padding-left: 2px;
	margin-left: 10px;
}

.highscore>tr {
	background-color: white;
}